.drawerdesign{
  display: flex;
}

.component{
  padding: 30px 135px;
  background: #fff;
}

@media (max-width:900px) {
  .drawerdesign{
    color:#5886ca;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap:19px;
  }

  .component{
    padding: 15px 0;
  }
}

@media (max-width:600px){
  .drawerdesign{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 22px;
    gap: 19px;
  }

  .component{
    padding: 15px 0;
  }

  .leftcomponent{
  margin-bottom: 15px;
  }
}